.link_button{
   border-radius: 10px;
   text-align: center;
   height: 40px;
   width: 140px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}