* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    background: url("https://media.istockphoto.com/photos/-picture-id1311934969?b=1&k=20&m=1311934969&s=170667a&w=0&h=UQ3F8CE5zam5mT5swIliZ9nO7dhX4ZzsALMufFdv6Ys=");
    background-size: 100% 100%;
    width: 100%;
    height: 100hv;

}

.head{
    background-color: brown;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: -40px;
    
}

.form-row{
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
}

.effect-1{
    border: 0;
    outline: none;
    width: 90%;
    padding: 7px 0;
    border-bottom: 1px solid gray;
}
.effect-1 ~ .Focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: brown;
    transition: 0.4s;
}
.effect-1:focus ~ .Focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
    
}
.btn11{
    background-color: brown;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
}





















/* h2{
    color: #fff;
    font-weight: bold;
}

.contact_section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;
} */

/* 
.contact_section::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b, #e91e63);
    border-radius: 50%;
    transform: translate(-420px, -180px);
    
}

.contact_section::after{
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #e91e63);
    border-radius: 50%;
    transform: translate(420px, 180px);
    -webkit-transform: translate(420px, 180px);
    -moz-transform: translate(420px, 180px);
    -ms-transform: translate(420px, 180px);
    -o-transform: translate(420px, 180px);
} */

/* .contact_container{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
} */
/* 
.contact_container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -60px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-20deg);
    
} */
/* .contact_container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
} */

/* .contact_container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 30px;
}

.contact_container .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
} */
/* 
.contact_container .row100 .col .inputBox input,
.contact_container .row100 .col .inputBox textarea

{
    position: absolute;
    width: 100%;
    height: 40px;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: black;
} */


/* .contact_container .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

}

.contact_container .row100 .col .inputBox input:focus + .text,
.contact_container .row100 .col .inputBox textarea:focus + .text
{
    top: -35px;
    left: -10px;
} */


